#primaryContainer{
    display: flex;
    height: 400px;
}

#primaryContainerLeft{
    background-color: #2C2C2C;
    flex-grow: 7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}


#primaryContainerRight{
    background-color: #6C63FF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 3;
}

#primaryContainerLeft div p:nth-child(1){/*olá*/
    color: #fff;
    font-family: 'Arial';
    margin-bottom: 5px;
}
#primaryContainerLeft div p:nth-child(2){
    color: #6C63FF;
    font-family: 'Arial';
    font-size: 30px;
    font-weight: bold;
}

#primaryContainerLeft div p:nth-child(3){
    color: #fff;
    font-family: 'Arial';
}

#photoProfille{
    width: 200px;
}

/*Estilizando section About Me*/
#aboutMe{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #313131;
    display: flex;
    justify-content: center;
    padding-left: 150px;
    padding-right: 150px;
}

#pictureFrame{
    border: solid 7px #6C63FF; 
    width: 170px;
}

#photoAboutMe{
    position: relative;
    left: 25px;
    bottom: 25px;
    width: 170px;
}

#aboutMeTextContainer{
    margin-left: 70px;
    color: #fff;
}

#h2AboutMe{
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    font-family: 'Arial';
    margin-bottom: 20px;
}

#h2Services{
    margin-bottom: 30px;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    font-family: 'Arial';
}

#aboutMeTextContainer > p{
    color: #71767A;
    font-family: 'Arial';
    margin-bottom: 20px;
    font-size: 15px;
}
/*estilização section services*/
#services{
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #2C2C2C;
}

#servicesItems{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



#DevelopmentText{
    position: relative;
    top: 170px;
    color: #fff;
    font-family: 'Arial';
    font-weight: bold;
}

#DevelopmentText p{
    text-align: center;
}

#webDevelopmentImg{
    width: 450px;
    opacity: .4;
    background-color:rgba(0,0,0,.6);
}

#mobileDevelopmentImg{
    width: 450px;
    opacity: .4;
    background-color:rgba(0,0,0,.6);
}

h3{
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}

#footer{
    background-color:  #313131;
    height: 400px;
}